<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Default Button</title>
</head>
<body>
    <h1>Default Button</h1>

    {% if result %}
        <p>{{ result }}</p>
    {% endif %}

    <form action="/process" method="post">
        <button type="submit">Default Button</button>
    </form>
    <form action="/getCardapio" method="post">
        <button type="submit">Cardapio</button>
    </form>
    <h1>
        {% if cardapio %}
            {% for item in cardapio %}
                <p>{{ item }}</p>
            {% endfor %}
        {% endif %}
    </h1>

</body>
</html>
